table th, td{
  padding: 5px;
  border: #555 1px solid;
}

.paginate {
  background: #eee;
  border-radius: 5px;
  list-style: none;
  margin-top: 15px;
  padding: 10px;
  position: relative;
  text-align: center;
}

.paginate li {
  display: inline;
}

.paginate .previous-page,
.paginate .next-page {
  position: absolute;
}

.paginate .next-page {
  right: 5px;
}

.paginate .previous-page {
  left: 5px;
}

.paginate a {
  background: #fff;
  border: 1px solid #aaa;
  color: #222;
}

.paginate .disabled span {
  background: #f3f3f3;
  border: 1px solid #ccc;
  color: #909090;
}

.paginate a,
.paginate .disabled span {
  border-radius: 3px;
  padding: 5px 8px;
  text-decoration: none;
}

.paginate .page {
  color: #777;
  font-weight: bold;
}

